.h1 {
    font-weight: 500;
    font-size: 25px;
    margin: 0;
    line-height: 35px;
}

.h2 {
    font-weight: 500;
    font-size: 22px;
    margin: 0;
    line-height: 30px;
}

.h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    line-height: 27px;
}